<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Osvaldo Egger Junior">
    <title>SISTEMA DE VENDA DE CELULARES</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    {{{ body }}}
    <footer>
    
      <p>Copyright &copy;2022 Osvaldo Egger Junior <a href="https://www.linkedin.com/in/juninhoegger">Linkedin</a></p>
    
    </footer>
  </body>
</html>
